pre-commit
tox==3.24.3
pytest==6.2.5
pytest-cov==2.12.1
mypy==0.910
yt-dlp==2025.4.30
fastapi==0.115.9/
uvicorn==0.34.2
chromadb==1.0.7
sentence_transformers==4.1.0
# sentence-transformers[onnx]
# onnxruntime
fitz==0.0.1.dev2
PyPDF2==3.0.1
httpx>=0.21
python-multipart==0.0.20